$unit: px;
$pathIng: '../images/';
$time: 0.15;
$timeCatalog: 0.3;
$fonColor: #fff;
$minPage: 1144;
$paddingPage: 20px;



$color: #fff;
$colorBox: #101010;
$colorInfo: #71726E;
$color_panel: #202020;



$menu_height: 75px;
$menu_padding_top: 33px;



$menu_color: #DCDCDC;
$menu_color_active: #C3A164;
$menu_background_active: rgba(255,255,255,0.07);
$menu_active: #222;



$menu_border: rgba(255,255,255,0.07);
$menu_border_bright: rgba(255,255,255,0.25);



$menu_border_size: 2; 
$menu_popUp_border: 2px solid #404040;
$menu_popUp_border_color: #404040;
$menu_popUp_color: #222;
$menu_separator: #323131;
$menu_upper_padding: 42px;



$cart_box_height: 120px;
$band_slider_height: 154px;



$text_spacing: 1.78 + $unit;
$text_title: #433C3C;
$button_border_color: #c3a164;
$filter_butt_color: #b8b8b8;



$product_padding_x: 26px;
$product_padding_y: 30px;
$product_width: 267px;
$product_border_color: #eeeff3;
$product_price_color: #A57F34;
$product_butt_cart: #7b7b7b;
$product_butt_cart_active: #484848;
$product_butt_list: #d8d8d8;
$product_butt_list_active: #7B7B7B;
$product_name: 60px;


$box_color: #f8f8f8;
$box_color_active: #c3a164;
$box_border: #eeeff3;
$contactsBox_padding: 20px;     
$delivery_box: 215px;



$cabinet: 267px;
$cabinet_border: #eee9e9;
$cabinet_border_active: #dfcfb9;
$cabinet_padding: 21px;



$popCat_padding_x: 28px;
$form_border_size: 12px;
$form_border_color: #ddbc80;
$input_border_color: #d8d8d8;



$counter_product_border: #e5e5e5;
$comparison_border_color: #eee9e9;
$comparison_info: 190px;



$filter: 280px;
$filter_padding: 293px;



$footer_height: 356px;



$file_path: '../fonts/';
$font_main: sans-serif;

$gothamPro_regular: 'GothamPro-Regular';
$gothamPro_medium: 'GothamPro-Medium';
$gothamPro_bold: 'GothamPro-Bold';
$haginCapsMedium_Regular: 'HaginCapsMedium-Regular';










